<a href="https://colab.research.google.com/github/wbandabarragan/computational-physics-1/blob/main/unit-1/104-python-basics-review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Operations with Python

Python can be used as a scientific calculator.

This only requires lauching an interpreter and using the correct syntax to carry out mathematical operations.

## 1. Math operations:

In [95]:
# Addition

1 + 3

4

In [96]:
# Multiplication/Division

(2 * 10)/(5)

4.0

In [97]:
_*7

28.0

In [98]:
# Exponentiation

(2)**(3)

8

# 2. The math library:

In [99]:
import math

In [100]:
math.cos(0)

1.0

In [101]:
math.sqrt(4)

2.0

In [102]:
math.exp(2)

7.38905609893065

In [103]:
math.exp(math.log(10))

10.000000000000002

In [104]:
math.factorial(4)

24

In [105]:
math.comb?

In [106]:
1/0

ZeroDivisionError: division by zero

In [107]:
1/math.inf

0.0

In [108]:
math.inf * 3

inf

In [109]:
math.inf/math.inf

nan

- "nan" stands for "not a number".

## 3. Complex numbers

In python: $j=\sqrt{-1}$

In [112]:
complex(3,4)

(3+4j)

In [113]:
-1 + 2j

(-1+2j)

## 4. Data types:

int: integers

float: floating point numbers

complex: complex numbers


The command type() allows to check which type you are dealing with.

In [114]:
type(12)

int

In [115]:
type(12.)

float

In [116]:
type(3+4j)

complex

In [117]:
type("hola")

str

## 5. Logical operators:

They are very helpful when dealing with conditionals:

In [118]:
# Compare two numbers

2 == 3

False

In [119]:
2 < 3

True

In [120]:
# And, Not, Or

(2 and not 2) and (2 and 2)

False

In [121]:
(4 > 3) + (2 > 1)

2

## 6. Variables:

The = sign is called assignment operator!

In [122]:
# Define variables

a = 3
b = 3.

In [123]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [124]:
# Operations with variables

c = b*2.

print(c)

6.0

In [126]:
# %whos is used to check what variables are stored in memory.

%whos

Variable   Type      Data/Info
------------------------------
a          int       3
b          float     3.0
c          float     6.0
d          str       file
d_list     list      n=4
dict_1     dict      n=4
e          str
f          str       file001
list_1     list      n=3
list_2     list      n=3
list_3     list      n=6
m          list      n=2
math       module    <module 'math' (built-in)>
set_1      set       {1, 2, 3, 4, 5, 6, 7}
set_2      set       {1, 2, 3, 4, 5, 6, 7}
set_3      set       {'c', 'Y', 'h', 'a', 'y'}
set_4      set       {5, 6, 7, 8, 9, 10}
t          float     1.0
tuple_1    tuple     n=3
tuple_2    tuple     n=3
tuple_3    tuple     n=3
x          int       100
y          int       200
z          int       500

In [129]:
# If you use one of them again, the variable is redefined and updated.

a = 5.

In [130]:
%whos

Variable   Type      Data/Info
------------------------------
a          float     5.0
b          float     3.0
c          float     6.0
d          str       file
d_list     list      n=4
dict_1     dict      n=4
e          str
f          str       file001
list_1     list      n=3
list_2     list      n=3
list_3     list      n=6
m          list      n=2
math       module    <module 'math' (built-in)>
set_1      set       {1, 2, 3, 4, 5, 6, 7}
set_2      set       {1, 2, 3, 4, 5, 6, 7}
set_3      set       {'c', 'Y', 'h', 'a', 'y'}
set_4      set       {5, 6, 7, 8, 9, 10}
t          float     1.0
tuple_1    tuple     n=3
tuple_2    tuple     n=3
tuple_3    tuple     n=3
x          int       100
y          int       200
z          int       500

In [131]:
# Another operation for a

a = b+1.

In [132]:
%whos

Variable   Type      Data/Info
------------------------------
a          float     4.0
b          float     3.0
c          float     6.0
d          str       file
d_list     list      n=4
dict_1     dict      n=4
e          str
f          str       file001
list_1     list      n=3
list_2     list      n=3
list_3     list      n=6
m          list      n=2
math       module    <module 'math' (built-in)>
set_1      set       {1, 2, 3, 4, 5, 6, 7}
set_2      set       {1, 2, 3, 4, 5, 6, 7}
set_3      set       {'c', 'Y', 'h', 'a', 'y'}
set_4      set       {5, 6, 7, 8, 9, 10}
t          float     1.0
tuple_1    tuple     n=3
tuple_2    tuple     n=3
tuple_3    tuple     n=3
x          int       100
y          int       200
z          int       500

In [133]:
t = 0.

print(t)

0.0

In [134]:
t = t + 1.

print(t)

1.0

In [135]:
# To delete a variable from memory, we can use del

del a

In [136]:
print(a)

NameError: name 'a' is not defined

In [137]:
%whos

Variable   Type      Data/Info
------------------------------
b          float     3.0
c          float     6.0
d          str       file
d_list     list      n=4
dict_1     dict      n=4
e          str
f          str       file001
list_1     list      n=3
list_2     list      n=3
list_3     list      n=6
m          list      n=2
math       module    <module 'math' (built-in)>
set_1      set       {1, 2, 3, 4, 5, 6, 7}
set_2      set       {1, 2, 3, 4, 5, 6, 7}
set_3      set       {'c', 'Y', 'h', 'a', 'y'}
set_4      set       {5, 6, 7, 8, 9, 10}
t          float     1.0
tuple_1    tuple     n=3
tuple_2    tuple     n=3
tuple_3    tuple     n=3
x          int       100
y          int       200
z          int       500

## 7. Data structures:

- Strings: characters -> text

- Lists: native to python

- Tuples: Sets of data

- Sets, Dictionaries.

- Arrays (Numpy)

7.1 Strings:

In [138]:
# Examples

d = "file"

print(type(d)) # Type of data structure

print(len(d)) # Number of characters in the string

<class 'str'>
4

In [139]:
# Empty string

e = " "

print(type(e), len(e))

<class 'str'> 1

In [140]:
# Access specific character

f = "file001"

print(type(f), len(f))

<class 'str'> 7

In [141]:
# Python indexes from 0, and the [] are used for indexing.

print(f[6])

print(f[4:7])

1
001

In [142]:
print(f.count("0"))
print(f.replace("00", "01"))

2
file011

## 7.2 Lists:

To define lists we use [] (square brackets).

In [143]:
list_1 = [4,7,9]

print(type(list_1))

<class 'list'>

In [144]:
list_2 = ["Hola",7,9]

print(list_2)
print(type(list_2))

['Hola', 7, 9]
<class 'list'>

In [145]:
# Indexing

print(list_2[0], type(list_2[0]))
print(list_2[2], type(list_2[2]))
print(list_2[-1])

Hola <class 'str'>
9 <class 'int'>
9

In [146]:
# length of the list

len(list_2)

3

In [147]:
# Concatenate lists

list_3 = list_1 + list_2

print(list_3)
print(len(list_3))

[4, 7, 9, 'Hola', 7, 9]
6

In [148]:
# Empty list

m = []

print(m, type(m))

m.append(1)

print(m)

[] <class 'list'>
[1]

In [149]:
m.append(2)

print(m)

[1, 2]

In [150]:
print(d, type(d))

file <class 'str'>

In [151]:
# String to list

d_list = list(d)

print(d_list, type(d_list))

['f', 'i', 'l', 'e'] <class 'list'>

## 7.3 Tuples:

To define tuples we use ().

Tuples -> sets of #'s

In [152]:
# Define a tuple

tuple_1 = (100, 200, 300)

print(type(tuple_1))

<class 'tuple'>

In [153]:
# Use indexing

print(tuple_1[0:2])

(100, 200)

In [154]:
print(len(tuple_1))

3

In [155]:
print(tuple_1.count(100))

1

In [156]:
# Differences between tuples and lists

list_1 = [100, 200, 300]

# Change an element within the list

list_1[2] = 500

print(list_1)

# Can we do the same with tuples? NO.

#tuple_1[2] = 500 # This gives us an error
# TypeError: 'tuple' object does not support item assignment

[100, 200, 500]

In [157]:
# Tuples can receive objects via unpacking
# Let's get the elements from list_1

print(list_1)

x, y, z = list_1

print(x, y, z)

[100, 200, 500]
100 200 500

In [158]:
# Parethesis are not strictly needed to generate tuples
# But they are desired highly

tuple_2 = 7,8,9

tuple_3 = (7,8,9)

print(type(tuple_2))
print(type(tuple_3))

<class 'tuple'>
<class 'tuple'>

7.4 Sets:
To define lists we use {} (curly brackets). Allow for some basic operations:

- Unions
- Intersections
- Differences

In [159]:
{1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7}

{1, 2, 3, 4, 5, 6, 7}

In [160]:
print(type({1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7}))

<class 'set'>

In [161]:
# Operations via set():

# The unique elements can be found like this:

set_1 = set([1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7])

print(set_1)

{1, 2, 3, 4, 5, 6, 7}

In [162]:
# This is for tuples

set_2 = set((1, 1, 2, 3, 4, 4, 5, 6, 6, 7, 7, 7))

print(set_2)

{1, 2, 3, 4, 5, 6, 7}

In [163]:
# For strings:

set_3 = set("Yachay")

print(set_3)

{'c', 'Y', 'h', 'a', 'y'}

In [164]:
# Define a new set:

set_4 = set((5,6,7, 8, 9, 10))

print(set_4)

{5, 6, 7, 8, 9, 10}

In [165]:
# Union operation:

set_2.union(set_4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [166]:
# Intersection:

set_2.intersection(set_4)

{5, 6, 7}

7.5 Dictionaries: To define dictionaries we also use {} (curly brackets), but need to define "keys" to individual elements. Allow for some basic operations:

In [167]:
# Define a dictionary:

dict_1 = {"CP1": 7 , "QM1": 6 , "ED1": 6, "GR": 9}

print(type(dict_1))

<class 'dict'>

In [168]:
# Indexing works with the keys:

print(dict_1["GR"])

9

In [169]:
# Print out the keys available

dict_1.keys()

dict_keys(['CP1', 'QM1', 'ED1', 'GR'])

In [170]:
# Print the length of the dictionary

print(len(dict_1))

4

In [171]:
# Empty dictionaries:

universities_dict = {}

In [172]:
# Fill up the dictionary:

universities_dict["Yachay"] = "Imbabura"

print(universities_dict)

{'Yachay': 'Imbabura'}

In [173]:
universities_dict["EPN"] = "Pichincha"

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha'}

In [174]:
universities_dict["Espol"] = "Guayas"

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas'}

In [175]:
universities_dict["Ecuador code"] = 593

print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'Ecuador code': 593}

In [176]:
# Adding multiple elements in one go:
# https://www.programiz.com/python-programming/methods/dictionary/update
universities_dict.update({"UTA": "Tungurahua", "ESPOCH": "Chimborazo"})

In [177]:
print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'Ecuador code': 593, 'UTA': 'Tungurahua', 'ESPOCH': 'Chimborazo'}

In [178]:
# Remove elements from dictionary via del()

del universities_dict["Ecuador code"]

In [179]:
print(universities_dict)

{'Yachay': 'Imbabura', 'EPN': 'Pichincha', 'Espol': 'Guayas', 'UTA': 'Tungurahua', 'ESPOCH': 'Chimborazo'}

In [180]:
%whos

Variable            Type      Data/Info
---------------------------------------
b                   float     3.0
c                   float     6.0
d                   str       file
d_list              list      n=4
dict_1              dict      n=4
e                   str
f                   str       file001
list_1              list      n=3
list_2              list      n=3
list_3              list      n=6
m                   list      n=2
math                module    <module 'math' (built-in)>
set_1               set       {1, 2, 3, 4, 5, 6, 7}
set_2               set       {1, 2, 3, 4, 5, 6, 7}
set_3               set       {'c', 'Y', 'h', 'a', 'y'}
set_4               set       {5, 6, 7, 8, 9, 10}
t                   float     1.0
tuple_1             tuple     n=3
tuple_2             tuple     n=3
tuple_3             tuple     n=3
universities_dict   dict      n=5
x                   int       100
y                   int       200
z                   int       500

In [181]:
print(x)

100

In [182]:
del x

In [183]:
print(x)

NameError: name 'x' is not defined

In [184]:
%whos

Variable            Type      Data/Info
---------------------------------------
b                   float     3.0
c                   float     6.0
d                   str       file
d_list              list      n=4
dict_1              dict      n=4
e                   str
f                   str       file001
list_1              list      n=3
list_2              list      n=3
list_3              list      n=6
m                   list      n=2
math                module    <module 'math' (built-in)>
set_1               set       {1, 2, 3, 4, 5, 6, 7}
set_2               set       {1, 2, 3, 4, 5, 6, 7}
set_3               set       {'c', 'Y', 'h', 'a', 'y'}
set_4               set       {5, 6, 7, 8, 9, 10}
t                   float     1.0
tuple_1             tuple     n=3
tuple_2             tuple     n=3
tuple_3             tuple     n=3
universities_dict   dict      n=5
y                   int       200
z                   int       500